@import url('https://code.getmdl.io/1.2.1/material.indigo-pink.min.css');

html,
body {
	height: 100%;
	width: 100%;
	padding: 0;
	margin: 0;
	background: #FAFAFA;
	font-family: 'Helvetica Neue', arial, sans-serif;
	font-weight: 400;
	color: #444;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

* {
	box-sizing: border-box;
}

#app {
	height: 100%;
}

.grid-wide,
.wide {
	min-width: 100%;
}

.grid-container {
	max-width: 1400px;
	margin: 0 auto;
}

.mdl-card {
	margin-top: 10px;
}


.card__text {
	line-height: 200px;
}

.mdl-card {
	width: initial!important;
	@media only screen and (min-width: 320px) {
		width:330px;
	}
}

h1 {
	font-size: 42px;
	@media only screen and (min-width: 320px) {
		width:inerith;
	}
}

h2 {
	line-height: 55px;
	@media only screen and (min-width: 320px) {
		line-height:inerith;
	}
}

.mdl-mini-footer__link-list {
	display: block;
	@media only screen and (min-width: 992px) {
		display:flex;
	}
}
